version: '3'
services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27019:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5002:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/reactdb

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "1300:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://localhost:5002/api/items


volumes:
  mongo-data:
