apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: frontend
  namespace: reactapp
spec:
  runPolicy: Serial
  source:
    type: Git
    git:
      uri: https://github.com/RenukaGaidhane/3--tier-minikube.git
      ref: main
    contextDir: frontend
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  output:
    to:
      kind: ImageStreamTag
      name: frontend:latest
  triggers:
    - type: GitHub
      github:
        secret: frontend-ci-secret
    - type: ConfigChange
  resources:
    limits:
      cpu: "1"
      memory: 1Gi
